@import "tailwindcss";


/* CSS variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: Arial, Helvetica, sans-serif; /* fallback font */
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-playfair {
  font-family: var(--font-playfair-display), serif;
}

.font-opensans {
  font-family: var(--font-opensans), sans-serif;
}

.font-libre {
  font-family: var(--font-libre), sans-serif;
}
/* Body styling */
body {
  width: 100vw;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Animations */
.onstartanimation {
  animation: onstartanimation .8s ease-out;
}

@keyframes onstartanimation {
  from { transform: translateY(100px); opacity: 0 }
  to { transform: translateY(0px); opacity: 1 }
}

/* Hover effect with :has() */
/* .parentelement:has(.childelement:hover)::before {
  background-color: rgba(41, 41, 41, 0.05);
} */

/* Scrollbar */
body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(31, 31, 31);
  border-radius: 1px; 
}
